<div>
  {% for member in site.data.pi %}
  <div class="jumbotron">
    <center>
      <a href="{{site.url}}{{site.baseurl}}/about"><img src="{{site.url}}{{site.baseurl}}/images/{{ member.photo }}"
          width="60%" style="display:block; margin-left:auto; margin-right:auto; margin-bottom:5px;" /></a>
      <h4>{{ member.name }}</h4>
      <div style="margin-bottom:5px">
        {% if member.email %}<a href="#" target="_blank" class="text-primary icon-link icon-link--sm" data-gen-agar><i
            class="fa fa-envelope"></i></a> {% endif %}
        {% if member.cv %}<a href="{{ site.url }}{{ site.baseurl }}/{{ member.cv }}" target="_blank"
          class="text-primary icon-link icon-link--sm"><i class="ai ai-cv"></i></a> {% endif %}
        {% if member.linkedin %}<a href="{{ member.linkedin }}" target="_blank"
          class="text-primary icon-link icon-link--sm"><i class="fa fa-linkedin"></i></a> {% endif %}
        {% if member.scholar %}<a href="{{ member.scholar }}" target="_blank"
          class="text-primary icon-link icon-link--sm"><i class="ai ai-google-scholar"></i></a> {% endif %}
        {% if member.github %}<a href="{{ member.github }}" target="_blank"
          class="text-primary icon-link icon-link--sm"><i class="fa fa-github"></i></a> {% endif %}
        {% if member.researchgate %}<a href="{{ member.researchgate }}" target="_blank"
          class="text-primary icon-link icon-link--sm"><i class="ai ai-researchgate"></i></a> {% endif %}
      </div>
    </center>

    <div class="sidebar-education">
      {% assign educ_fields =
      "education1short,education2short,education3short,education4short,education5short,education6short" | split: "," %}
      {% for field in educ_fields limit: member.number_educ %}
      {% assign val = member[field] %}
      {% if val %}
      <div>{{ val | replace: "-","&#8211;" }}</div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>