---
layout: default
---

  <div id="homeid" class="col-sm-6 col-xs-12">
	{{ content }}
  </div>
  <div id="side" class="col-sm-6 col-xs-12" >
	{% include sidebar.html %}
  </div>

 <div id="newsid" class="col-sm-12 col-xs-12">
  <div class="jumbotron">
  <h4>News</h4>

  {% for article in site.data.news limit:3 %}
  <b>{{ article.date }} - {{ article.headline }}</b>
    <p>{{ article.summary }}</p>
  {% endfor %}
  
  <h5><a href="{{ site.url }}{{ site.baseurl }}/news.html">... see all News</a></h5>

  </div>
 </div> 

